<div class="row">
    <div class="col-6">
        <app-dona title="Ventas" [dataInfo]="label1" [dataNumber]="data1"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Compras" [dataInfo]="label2" [dataNumber]="data2"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona title="Cambios" [dataInfo]="label3" [dataNumber]="data3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Gastos" [dataInfo]="label4" [dataNumber]="data4"></app-dona>
    </div>
</div>